/* miniatures de livres */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.bg-image {
    position: relative;
}
.bg-image img {
    display: block;
    width: 100%;
    max-width: 250px; 
    max-height: 400px; 
    margin: 0 auto;
}
.bg-image h3 {
    position: absolute;
    top: 3px;
    right: 3px;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
    
}
.shelve {
    position: absolute;
    top: -5px;
    right: 57px;
    color: grey;
}
.slideflag {
    position: absolute;
    top: -20px;
    right: 57px;
    color: grey;
}
.badge-notify{
   /*background:#4CD964;*/
   position:absolute;
    top: 10px;
    right: 20px;
   color: grey;
   width:0px;
    text-shadow: white 1px 1px 1px;
    text-shadow: white -1px 1px 1px;
    text-shadow: white 1px -1px 1px;
    text-shadow: white -1px -1px 1px;
  }
/* page */
body { 
  background: url(../images/bk.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.containerpage {
  background-color: lightgrey;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  box-shadow: 0 25px 15px lightgrey;
  padding-bottom:10px;
  margin-top:50px;
  padding-top:10px;
}
.alert {
	border-color:grey;
}
.card {
	border-color:grey;
}
/* navigation */
.page-link{
	color:#17A2B8;
	background-color: #ffffff;
}
.page-item.active .page-link {
 
  z-index: 1;
 
  color: #fff;
 
  background-color: #17A2B8;
  border:none;

}
.page-link:focus, .page-link:hover {
 
  color: grey;
  background-color: lightgrey;
  text-decoration: none;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color:#17A2B8;
}
#dlframe {
	width:0;
	height:0;
	border:0;
}
/* chat */
.chatbox {
    position: fixed;
    bottom: 0;
    right: 30px;
    width: 300px;
    height: 400px;
    background-color: #fff;
    font-family: 'Lato', sans-serif;

    -webkit-transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 600ms cubic-bezier(0.19, 1, 0.22, 1);

    display: -webkit-flex;
    display: flex;

    -webkit-flex-direction: column;
    flex-direction: column;
}

.chatbox--tray {
    bottom: -350px;
}

.chatbox--closed {
    bottom: -400px;
}

.chatbox .form-control:focus {
    border-color: #1f2836;
}

.chatbox__title,
.chatbox__body {
    border-bottom: none;
}

.chatbox__title {
    min-height: 50px;
    padding-right: 10px;
    background-color: #343A40;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;

    display: -webkit-flex;
    display: flex;

    -webkit-align-items: center;
    align-items: center;
}

.chatbox__title h5 {
    height: 50px;
    margin: 0 0 0 15px;
    line-height: 50px;
    position: relative;
    padding-left: 20px;

    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.chatbox__title h5 a {
    color: #fff;
    max-width: 195px;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chatbox__title h5:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 12px;
    height: 12px;
    background: #4CAF50;
    border-radius: 6px;

    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.chatbox__title__tray,
.chatbox__title__close {
    width: 24px;
    height: 24px;
    outline: 0;
    border: none;
    background-color: transparent;
    opacity: 0.5;
    cursor: pointer;

    -webkit-transition: opacity 200ms;
    transition: opacity 200ms;
}

.chatbox__title__tray:hover,
.chatbox__title__close:hover {
    opacity: 1;
}

.chatbox__title__tray span {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-bottom: 2px solid #fff
}

.chatbox__title__close svg {
    vertical-align: middle;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.2px;
}

.chatbox__body,
.chatbox__credentials {
    padding: 15px;
    border-top: 0;
    background-color: #f5f5f5;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;

    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.chatbox__credentials {
    display: none;
}

.chatbox__credentials .form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.chatbox__body {
    overflow-y: auto;
}

.chatbox__body__message {
    position: relative;
}

.chatbox__body__message p {
    padding: 15px;
    border-radius: 4px;
    font-size: 14px;
    background-color: #fff;
    -webkit-box-shadow: 1px 1px rgba(100, 100, 100, 0.1);
    box-shadow: 1px 1px rgba(100, 100, 100, 0.1);
}

.chatbox__body__message img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid #fcfcfc;
    position: absolute;
    top: 15px;
}

.chatbox__body__message--left p {
    margin-left: 15px;
    padding-left: 30px;
    text-align: left;
}

.chatbox__body__message--left img {
    left: -5px;
}

.chatbox__body__message--right p {
    margin-right: 15px;
    padding-right: 30px;
    text-align: right;
}

.chatbox__body__message--right img {
    right: -5px;
}

.chatbox__message {
    padding: 15px;
    min-height: 50px;
    outline: 0;
    resize: none;
    border: none;
    font-size: 12px;
    border: 1px solid #ddd;
    border-bottom: none;
    background-color: #fefefe;
}

.chatbox--empty {
    height: 262px;
}

.chatbox--empty.chatbox--tray {
    bottom: -212px;
}

.chatbox--empty.chatbox--closed {
    bottom: -262px;
}

.chatbox--empty .chatbox__body,
.chatbox--empty .chatbox__message {
    display: none;
}

.chatbox--empty .chatbox__credentials {
    display: block;
}

/* slider livres */
.slide {
	margin-right:-15px;
	margin-left:-15px;
}
div.stage{
	/*perspective-origin: top right;*/
perspective: 1400px;
padding-left:40px;
}
img.stage {
	width:125px;
	height:200px;
transition-property: transform;
transition-duration: 0.5s;
transform: matrix3d(0.7109, 0, -0.703279, 0,
0, 1, 0, 0,
0.703279, 0, 0.7109, 0,
0, 0, 0, 1);
-webkit-box-shadow: 30px 30px 45px 0px rgba(0,0,0,0.7);
-moz-box-shadow: 30px 30px 45px 0px rgba(0,0,0,0.7);
box-shadow: 30px 30px 45px 0px rgba(0,0,0,0.7);	
}

img.stage:hover {
transition-property: transform;
transition-duration: 0.7s;
transform: matrix3d(1, 0, 0, 0,
0, 1, 0, 0,
0, 0, 1, 0,
0, 0, 120, 1);
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border:1px solid grey;
}
.carousel-indicators li.active{
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border:2px solid #17A2B8;
}

.carousel-control-prev {
	width:30px;
}
.carousel-control-next {
	width:30px;
}

.profilclass {
   color:white;
}
.profilclass img {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid #fcfcfc;
    
}

